node_modules
.expo

.env*
.vscode
package-lock.json
pnpm-lock.yaml
libquery_engine-debian-openssl-3.0.x.so.node
query_engine-windows.dll.node


./dist
Mobile

migrations

verify_fix.ts
verify_comment_delete.ts
verify_post_delete.ts
k.toLowerCase().includes('like')
prisma_diagnose.ts